.signUp{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsSJHhwvHl99pb3NAtFck2x0dKw7I9kNYyg2HaO_5hMdD9ru_S");
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.form{
    background-color: #fff;
padding: 25px;
border:2px solid rgb(170, 134, 134);
border-radius: 1px;
}



.signUplogo{
    width: 200px;
    object-fit: contain;
    padding: 1px 0px;
    margin-bottom: -30px;
    margin-top: -25px;
}


.loginPara{
    color: rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0px 40px 20px 40px;
   
}

input{
    padding: 5px;
    margin: 3px 0px;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}


.form > div{
    width: 80%;
    margin: auto;
}


#submit-btn{
    background-color: #1773EA;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    width: 80%;
    cursor: pointer;
    margin-top: 8px;
}


.form2{
    background-color: #fff;
    padding: 30px;
    margin-top: px;
    border:2px solid rgb(170, 134, 134);
    border-radius: 1px;
}

